---
import { getLangFromUrl,useTranslation } from "i18n/utils";
import { Picture } from "astro:assets";
import clausula from "assets/clausula.png";
import diversificacion from "assets/diversificacion.png";
import vinculacion from "assets/vinculacion.png";
import seguimiento from "assets/seguimiento.png";

const lang = getLangFromUrl(Astro.url);
const t = useTranslation(lang);


const numeros = [
  {
    numero: "cta2.subtitle1",
    image: clausula,
  },
  {
    numero: "cta2.subtitle3",
    image: diversificacion,

  },
  {
    numero: "cta2.subtitle2",
    image: vinculacion,
  },
  {
    numero: "cta2.subtitle4",
    image: seguimiento,
  },
];
---

<!-- Diseño para pantallas pequeñas
<div class="bg-[#0E1B4D] p-8 md:px-20 md:py-20 mt-0 mb-0 mx-auto left-1/2 right-1/2 -ml-[50vw] -mr-[50vw] w-screen relative flex flex-col items-center text-center block md:hidden w-full">
  <div class="flex flex-wrap justify-center gap-8 mt-8 items-center">
    {numeros.map((item) => (
      <div class="flex flex-col items-center text-white fade-up">
        <div class="bg-white text-[#091953] rounded-full w-12 h-12 flex items-center justify-center text-2xl font-bold px-20 py-0.1">
          <span class="whitespace-nowrap number" data-target={t(item.numero as 'cta.subtitle1')}>
            +0
            {/* Si es cta.subtitle3, agrega el valor de item.senc */}
            {item.numero === "cta.subtitle3" && item.senc && (
              <span class="text-sm ml-1">{t(item.senc as 'cta.subtitle31')}</span>
            )}
          </span>
        </div>
        <p class="mt-2">{t(item.description as 'cta.description1')}</p>
      </div>
    ))}
  </div>
</div> -->

<!-- Diseño para pantallas medianas y grandes -->
<div class="w-screen relative left-1/2 right-1/2 -ml-[50vw] -mr-[50vw] bg-[#0E1B4D] h-auto flex items-center justify-center md:flex">
  <div class="relative flex w-full lg:max-w-screen-xl h-full">

    <div class="relative flex-grow py-8 md:py-20 rounded-lg flex flex-col items-center justify-center">
      
      <p class="text-center text-white text-4xl lg:text-5xl mb-16 font-medium fade-up">{t('cta.title2')}</p>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 items-start w-full">
        {numeros.map((item) => (
          <div class="flex flex-col items-center text-white">
            <div class="text-white w-full h-auto flex flex-col items-center justify-center text-center text-xl lg:text-2xl">
              <Picture
                src={item.image}
                alt={item.numero}
                loading="eager"
                class="h-[100px] w-auto fade-up"
              />
              <p class="whitespace-wrap h-full fade-up">
                {t(item.numero as 'cta.subtitle1')}
              </p>
            </div>
          </div>
        ))}
      </div>
    </div>
  </div>
</div>


<style>







