---
// @ts-ignore
import { Icon } from "astro-icon/components";
import { Picture } from "astro:assets";
import rendimiento from "assets/rendimiento.png";
import estrategias from "assets/estrategias.png";
import soporte from "assets/soporte.png";
import diversificacion from "assets/diversificacion.png";
import Link from "@components/ui/link.astro";

import { getLangFromUrl, useTranslation } from "i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslation(lang);

const features = [
  {
    title: "feat.subtitle1",
    description: "feat.description1",
    image: "https://i0.wp.com/qqcapitalfund.com/wp-content/uploads/2024/03/2.png?fit=512%2C386&ssl=1",
    path: "/blog/a-visual-guide-to-understanding-investment-funds/",
    pathEs: "/es/blog/es-a-visual-guide-to-understanding-investment-funds/",
  },
  {
    title: "feat.subtitle2",
    description: "feat.description2",
    image: "https://i0.wp.com/qqcapitalfund.com/wp-content/uploads/2024/03/3-Miniatura.png?fit=512%2C386&ssl=1",
    path: "/blog/how-hedge-funds-protect-themselves-against-market-volatility/",
    pathEs: "/es/blog/es-how-hedge-funds-protect-themselves-against-market-volatility/",
  },
  {
    title: "feat.subtitle3",
    description: "feat.description3",
    image: "https://i0.wp.com/qqcapitalfund.com/wp-content/uploads/2024/03/QQ-Capital-Lin-Wed2.png?fit=512%2C386&ssl=1",
    path: "/blog/transforming-the-financial-world-the-rise-of-decentralized-finance-defi/",
    pathEs: "/es/blog/es-transforming-the-financial-world-the-rise-of-decentralized-finance-defi/",
  },
  {
    title: "feat.subtitle4",
    description: "feat.description4",
    image: "https://i0.wp.com/qqcapitalfund.com/wp-content/uploads/2024/03/2-Articulo.png?fit=512%2C386&ssl=1",
    path: "/blog/the-impact-of-geopolitical-events-on-hedge-funds/",
    pathEs: "/es/blog/es-the-impact-of-geopolitical-events-on-hedge-funds/",
  },
];
---

<div class="lg:h-[650px] lg:max-h-[850px] flex flex-col justify-center items-start mt-[5%]">
  <Link href={lang === 'en' ? '/blog' : '/es/blog'} target='_blanket' rel="noopener noreferrer" class="mb-4 bg-[#0E1B4D] text-white rounded-3xl border-none">
    {t('feat.learn')} »
  </Link>
  <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
    {
      features.map((item) => (
        <div class="flex flex-col border rounded-2xl p-3 shadow-lg items-center">
          <div class="h-54 w-full flex justify-center items-center fade-up">
            <Picture
              inferSize={true}
              src={item.image as string}
              alt={item.title}
              widths={[200, 400]}
              sizes="(max-width: 280px) 100vw, 280px"
              loading="eager"
              class="h-54 w-[100vw] object-cover rounded-2xl"
            />
          </div>
          <div>
            <h3 class="font-bold text-2xl flex justify-center mt-2 fade-up">
              {t(item.title as "feat.subtitle1")}
            </h3>
            <p class="text-slate-700 mt-2 text-[13px] leading-relaxed fade-up">
              {t(item.description as "feat.description1")}
            </p>
          </div>
          <div class="justify-start mt-2 lg:mt-4 flex w-full fade-up h-full items-end">
            <Link
              size="lg"
              rel="noopener noreferrer"
              target="_blank"
              href={lang === "en" ? item.path : item.pathEs}
              class="inline-flex gap-1 h-12 hover:text-white items-center font-semibold justify-center rounded-full lg:w-[160px] py-0.1 text-black border border-black mx-auto lg:mx-0 w-auto">
              {t("feat.button")}
            </Link>
          </div>
        </div>
      ))
    }
  </div>
</div>
