---
import { getLangFromUrl, useTranslation } from "i18n/utils";
import { Picture } from "astro:assets";

const lang = getLangFromUrl(Astro.url);
const t = useTranslation(lang);

const apiKey = import.meta.env.GOOGLE_MAPS_API_KEY;
---

<!-- <div id="reviews-container" class="mt-[7%] flex flex-row w-screen relative w-full left-1/2 right-1/2 -ml-[50vw] -mr-[50vw] p-5 fade-up">
  <div id="review-cards" class="flex transition-transform duration-300"></div>
  <button id="prev-button" class="absolute left-4 top-1/2 transform -translate-y-1/2 bg-white rounded-full p-2 shadow-lg">❮</button>
  <button id="next-button" class="absolute right-4 top-1/2 transform -translate-y-1/2 bg-white rounded-full p-2 shadow-lg">❯</button>
</div> -->
<div class="fade-up h-[270px]">
  <iframe
    src="https://cbbdf5329d484b30942200bd6243ee86.elf.site"
    style="border:none;width:100%;overflow:auto;height:100%"></iframe>
</div>

<div
  class="mt-[2%] mb-[7%] h-[120px] lg:h-10 bg-gray-300 w-full rounded-3xl relative flex flex-row text-[#0E1B4D] overflow-hidden fade-up">
  <div
    class="text-white flex justify-center items-center bg-[#0E1B4D] lg:h-10 lg:w-[15%] rounded-3xl px-2 z-10 break-words whitespace-normal">
    {t("suggestion.trends")}
  </div>
  <a
    id="carousel-link"
    href="#"
    target="_blank"
    rel="noopener noreferrer"
    class="h-full flex p-5 w-auto items-center font-semibold flex-grow transition-transform duration-1000 ease-in-out"
    >Transforming the Financial World: The Rise of Decentralized Finance (DeFi)</a
  >
  <div class="flex items-center space-x-2 pr-5">
    <i id="prev" class="fa fa-angle-left text-[#0E1B4D] cursor-pointer"></i>
    <i id="next" class="fa fa-angle-right text-[#0E1B4D] cursor-pointer"></i>
  </div>
</div>

<script>
  import { useTranslation } from "i18n/utils";

  function getLangFromUrl(pathname) {
    const segments = pathname.split("/");
    return segments[1] || "en";
  }

  const lang = getLangFromUrl(window.location.pathname);
  const t = useTranslation(lang);

  const carouselItems = [
    {
      text: t('feat.subtitle1'),
      path: "/blog/a-visual-guide-to-understanding-investment-funds/",
      pathEs: "/es/blog/es-a-visual-guide-to-understanding-investment-funds/",
    },
    {
      text: t('feat.subtitle2'),
      path: "/blog/how-hedge-funds-protect-themselves-against-market-volatility/",
      pathEs:
        "/es/blog/es-how-hedge-funds-protect-themselves-against-market-volatility/",
    },
    {
      text: t('feat.subtitle3'),
      path: "/blog/transforming-the-financial-world-the-rise-of-decentralized-finance-defi/",
      pathEs:
        "/es/blog/es-transforming-the-financial-world-the-rise-of-decentralized-finance-defi/",
    },
    {
      text: t('feat.subtitle4'),
      path: "/blog/the-impact-of-geopolitical-events-on-hedge-funds/",
      pathEs: "/es/blog/es-the-impact-of-geopolitical-events-on-hedge-funds/",
    },
  ];

  let currentIndex = 0;
  const linkElement = document.getElementById("carousel-link");
  let isTransitioning = false;

  function updateCarousel(next = true) {
    if (isTransitioning) return;
    isTransitioning = true;

    if (!linkElement) return;

    linkElement.style.transform = next
      ? "translateX(-100%)"
      : "translateX(100%)";

    setTimeout(() => {
      linkElement.textContent = carouselItems[currentIndex].text;
      (linkElement as HTMLAnchorElement).href = lang === "en" ? carouselItems[currentIndex].path : carouselItems[currentIndex].pathEs;

      linkElement.style.transition = "none";
      linkElement.style.transform = next
        ? "translateX(100%)"
        : "translateX(-100%)";

      linkElement.offsetHeight;

      setTimeout(() => {
        linkElement.style.transition = "transform 1s ease-in-out";
        linkElement.style.transform = "translateX(0%)";

        setTimeout(() => {
          isTransitioning = false;
        }, 1000);
      }, 10);
    }, 1000);
  }

  function nextItem() {
    currentIndex = (currentIndex + 1) % carouselItems.length;
    updateCarousel(true);
  }

  function prevItem() {
    currentIndex =
      (currentIndex - 1 + carouselItems.length) % carouselItems.length;
    updateCarousel(false);
  }

  document.getElementById("next")?.addEventListener("click", nextItem);
  document.getElementById("prev")?.addEventListener("click", prevItem);

  setInterval(nextItem, 8000);

  updateCarousel();
</script>
