---
import { getLangFromUrl, useTranslation } from "i18n/utils";
import Navbar from "components/navbar/navbar.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslation(lang);

const width = lang === "en" ? "w-[195px]" : "w-[230px]";
---

<main
  class="main_banner w-screen relative left-1/2 right-1/2 -ml-[50vw] -mr-[50vw] w-full">
  <div class="max-w-screen-xl mx-auto px-5 z-10 relative">
    <Navbar />
  </div>
  <div class="flex justify-center z-[8] relative">
    <div class="absolute flex w-full max-w-screen-xl pad xl:py-10 py-20">
      <div class="grid grid-cols-1 xl:grid-cols-2 text-[#0E1B4D] gap-6 w-full">
        <div
          class="marb flex flex-col w-full w-full mt-[50px] lg:mt-0 xl:mb-20 px-5 justify-center h-full">
          <div class="fade-up">
            <p
              class=`md:mt-10 text-[#0180fb] border rounded-full ${width} font-medium text-lg px-[10px] bg-[#ebf1f8]`>
              {t("investment")}
            </p>
            <h1 class="text-6xl md:text-7xl font-bold tracking-tight">
              {t("cl.title")}
            </h1>
            <p class="text-2xl mt-10">{t("cl.desc")}</p>
          </div>

          <div class="fade-up mt-10">
            <p class="text-2xl mt-3">
              {t("cl.return")}<span class="font-semibold"
                >{t("cl.return2")}</span>
            </p>
            <p class="text-2xl mt-3">
              {t("cl.risk")}<span class="font-semibold">{t("cl.level")}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<style>
  .main_banner {
    background-image: url("https://res.cloudinary.com/dsfgyzics/image/upload/v1729561910/class_k6siab.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .main_banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
  }

  @media (max-width: 400px) and (max-height: 800px) {
    .pad {
      padding-top: 10px;
    }
  }

  @media (min-width: 1025px) and (min-height: 550px) and (max-height: 640px) {
    .marb {
      margin-bottom: 10%;
      margin-top: -40px;
    }
  }
</style>
