---
import { Picture } from "astro:assets";
import rendimiento from "assets/rendimiento.svg";
import seg from "assets/seguimiento.svg";
import inversion from "assets/inversion.svg";

import { getLangFromUrl, useTranslation } from "i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslation(lang);

const features = [
  {
    title: "ab.subtitle1",
    description: "ab.description1",
    image: seg,
  },
  {
    title: "ab.subtitle2",
    description: "ab.description2",
    image: inversion,
  },
  {
    title: "ab.subtitle3",
    description: "ab.description3",
    image: rendimiento,
  },
];
---

<div
  class="w-screen relative left-1/2 right-1/2 -ml-[50vw] -mr-[50vw] bg-[#0E1B4D] h-auto flex items-center justify-center md:flex">
  <div class="relative flex w-full lg:max-w-screen-xl h-full">
    <div
      class="relative flex-grow py-8 md:py-20 rounded-lg flex flex-col items-center justify-center">
      <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 items-start w-full">
        {
          features.map((item) => (
            <div class="flex flex-col items-center text-white">
              <div class="text-white w-full h-auto flex flex-col items-center justify-center text-center">
                <Picture
                  src={item.image}
                  alt="image"
                  loading="eager"
                  class="h-[140px] w-auto fade-up"
                />
                <p class="whitespace-wrap h-full fade-up mt-10">
                  {t(item.description as "cta.subtitle1")}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</div>
