---
import { getLangFromUrl, useTranslation } from "i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslation(lang);
---

<table class="pad min-w-full border-collapse border border-gray-300 text-[12px] text-center">
  <thead>
    <tr>
      <th class="border border-gray-300 py-2">{t("month")}</th>
      <th class="border border-gray-300 py-2">2023</th>
      <th class="border border-gray-300 py-2">2024</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="border border-gray-300 px-0 py-0">{t("january")}</td>
      <td class="border border-gray-300 px-0">0.52%</td>
      <td class="border border-gray-300 px-0">0.71%</td>
    </tr>
    <tr>
      <td class="border border-gray-300 px-0 py-0">{t("february")}</td>
      <td class="border border-gray-300 px-0 py-0">-0.04%</td>
      <td class="border border-gray-300 px-0 py-0">0.03%</td>
    </tr>
    <tr>
      <td class="border border-gray-300 px-0 py-0">{t("march")}</td>
      <td class="border border-gray-300 px-0 py-0">1.42%</td>
      <td class="border border-gray-300 px-0 py-0">1.34%</td>
    </tr>
    <tr>
      <td class="border border-gray-300 px-0 py-0">{t("april")}</td>
      <td class="border border-gray-300 px-0 py-0">0.34%</td>
      <td class="border border-gray-300 px-0 py-0">1.22%</td>
    </tr>
    <tr>
      <td class="border border-gray-300 px-0 py-0">{t("may")}</td>
      <td class="border border-gray-300 px-0 py-0">0.58%</td>
      <td class="border border-gray-300 px-0 py-0">0.36%</td>
    </tr>
    <tr>
      <td class="border border-gray-300 px-0 py-0">{t("june")}</td>
      <td class="border border-gray-300 px-0 py-0">0.61%</td>
      <td class="border border-gray-300 px-0 py-0">0.32%</td>
    </tr>
    <tr>
      <td class="border border-gray-300 px-0 py-0">{t("july")}</td>
      <td class="border border-gray-300 px-0 py-0">0.39%</td>
      <td class="border border-gray-300 px-0 py-0">0.09%</td>
    </tr>
    <tr>
      <td class="border border-gray-300 px-0 py-0">{t("august")}</td>
      <td class="border border-gray-300 px-0 py-0">0.98%</td>
      <td class="border border-gray-300 px-0 py-0">1.21%</td>
    </tr>
    <tr>
      <td class="border border-gray-300 px-0 py-0">{t("september")}</td>
      <td class="border border-gray-300 px-0 py-0">-0.38%</td>
      <td class="border border-gray-300 px-0 py-0">0.28%</td>
    </tr>
    <tr>
      <td class="border border-gray-300 px-0 py-0">{t("october")}</td>
      <td class="border border-gray-300 px-0 py-0">2.05%</td>
      <td class="border border-gray-300 px-0 py-0">1.26%</td>
    </tr>
    <tr>
      <td class="border border-gray-300 px-0 py-0">{t("november")}</td>
      <td class="border border-gray-300 px-0 py-0">1.82%</td>
      <td class="border border-gray-300 px-0 py-0"></td>
    </tr>
    <tr>
      <td class="border border-gray-300 px-0 py-0">{t("december")}</td>
      <td class="border border-gray-300 px-0 py-0">1.14%</td>
      <td class="border border-gray-300 px-0 py-0"></td>
    </tr>
    <tr>
      <td class="border border-gray-300 px-0 py-0">Total</td>
      <td class="border border-gray-300 px-0 py-0">9.43%</td>
      <td class="border border-gray-300 px-0 py-0">6.82%</td>
    </tr>
  </tbody>
</table>


<style>
    @media (max-width: 1024px) and (max-height: 700px) {
      .pad {
        font-size: 10px;
      }
  
      .ti {
        font-size: 15px;
      }
    }

    @media (min-width: 2100px) {
      .pad {
        font-size: 20px;
      }
  
      .ti {
        font-size: 30px;
      }
    }

    @media (min-width: 2000px) and (min-height: 1040px) {
      .pad {
        font-size: 18px;
      }
  
      .ti {
        font-size: 28px;
      }
    }
  </style>
