<div
  class="w-screen relative left-1/2 right-1/2 -ml-[50vw] -mr-[50vw] bg-[#0b1c52] h-auto flex items-center justify-center md:flex">
  <div class="relative flex w-full lg:max-w-screen-xl h-full">
    <div
      class="relative flex-grow py-8 md:py-10 rounded-lg flex flex-col items-center justify-center">
    </div>
  </div>
</div>