---
import { getLangFromUrl, useTranslation } from "i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslation(lang);
---

<div
  class="w-screen relative left-1/2 right-1/2 -ml-[50vw] -mr-[50vw] bg-[#0b1c52] h-auto flex items-center justify-center md:flex mt-[2%] mb-[7%]">
  <div class="relative flex w-full lg:max-w-screen-xl h-full text-white px-5">
    <div
      class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-10 md:mt-0 md:gap-0 w-full flex flex-col lg:flex-row py-20">
      <div class="flex flex-col md:col-span-1 w-full md:max-w-[500px] justify-center mb-10 md:mb-0">
        <p class="text-[#0180fb] font-medium fade-up">{t("lets")}</p>
        <h1 class="mt-5 text-6xl md:text-7xl font-medium tracking-tight fade-up">
          {t("gr.title")}
        </h1>
        <p class="mt-7 text-xl whitespace-pre-line fade-up">{t("se.monthly")}</p>
        <p class="mt-7 text-6xl md:text-7xl font-medium fade-up">{t("gr.month")}</p>
        <p class="mt-7 text-xl whitespace-pre-line fade-up">{t("se.annual")}</p>
        <p class="mt-7 text-6xl md:text-7xl font-medium fade-up">{t("gr.annual2")}</p>
      </div>
      <div class="relative h-full md:col-span-2 fade-up">
        <table
          class="min-w-full border-collapse border border-gray-300 text-xl md:text-3xl text-center">
          <thead>
            <tr>
              <th class="border border-gray-300 md:py-2 py-4">{t('month')}</th>
              <th class="border border-gray-300 md:py-2 py-4">2023</th>
              <th class="border border-gray-300 md:py-2 py-4">2024</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="border border-gray-300 px-2 py-2">{t('january')}</td>
              <td class="border border-gray-300 px-2 py-2">1.12%</td>
              <td class="border border-gray-300 px-2 py-2">4.25%</td>
            </tr>
            <tr>
              <td class="border border-gray-300 px-2 py-2">{t('february')}</td>
              <td class="border border-gray-300 px-2 py-2">0.20%</td>
              <td class="border border-gray-300 px-2 py-2">5.03%</td>
            </tr>
            <tr>
              <td class="border border-gray-300 px-2 py-2">{t('march')}</td>
              <td class="border border-gray-300 px-2 py-2">0.44%</td>
              <td class="border border-gray-300 px-2 py-2">-2.33%</td>
            </tr>
            <tr>
              <td class="border border-gray-300 px-2 py-2">{t('april')}</td>
              <td class="border border-gray-300 px-2 py-2">1.05%</td>
              <td class="border border-gray-300 px-2 py-2">5.75%</td>
            </tr>
            <tr>
              <td class="border border-gray-300 px-2 py-2">{t('may')}</td>
              <td class="border border-gray-300 px-2 py-2">1.53%</td>
              <td class="border border-gray-300 px-2 py-2">2.70%</td>
            </tr>
            <tr>
              <td class="border border-gray-300 px-2 py-2">{t('june')}</td>
              <td class="border border-gray-300 px-2 py-2">1.05%</td>
              <td class="border border-gray-300 px-2 py-2">0.31%</td>
            </tr>
            <tr>
              <td class="border border-gray-300 px-2 py-2">{t('july')}</td>
              <td class="border border-gray-300 px-2 py-2">5.38%</td>
              <td class="border border-gray-300 px-2 py-2">-1.42%</td>
            </tr>
            <tr>
              <td class="border border-gray-300 px-2 py-2">{t('august')}</td>
              <td class="border border-gray-300 px-2 py-2">3.23%</td>
              <td class="border border-gray-300 px-2 py-2">1.26%</td>
            </tr>
            <tr>
              <td class="border border-gray-300 px-2 py-2">{t('september')}</td>
              <td class="border border-gray-300 px-2 py-2">-1.27%</td>
              <td class="border border-gray-300 px-2 py-2">2.40%</td>
            </tr>
            <tr>
              <td class="border border-gray-300 px-2 py-2">{t('october')}</td>
              <td class="border border-gray-300 px-2 py-2">2.70%</td>
              <td class="border border-gray-300 px-2 py-2">2.78%</td>
            </tr>
            <tr>
              <td class="border border-gray-300 px-2 py-2">{t('november')}</td>
              <td class="border border-gray-300 px-2 py-2">2.28%</td>
              <td class="border border-gray-300 px-2 py-2"></td>
            </tr>
            <tr>
              <td class="border border-gray-300 px-2 py-2">{t('december')}</td>
              <td class="border border-gray-300 px-2 py-2">4.57%</td>
              <td class="border border-gray-300 px-2 py-2"></td>
            </tr>
            <tr>
              <td class="border border-gray-300 px-2 py-2">Total</td>
              <td class="border border-gray-300 px-2 py-2">22.28%</td>
              <td class="border border-gray-300 px-2 py-2">20.73%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
